<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card先生</title>
  <!-- CSS -->
  <link rel="stylesheet" href="./assets/css/bootstrap.css">
  <link rel="stylesheet" href="./assets/css/custom.css">
  <!-- JavaScript -->
  <script src="./assets/js/bootstrap.bundle.js" defer></script>
  <script src="./assets/js/util.js" defer></script>
  <script src="./assets/js/pitch-accent.js" defer></script>
  <script src="./assets/js/settings.js" defer></script>
  <script src="./assets/js/dictionary.js" defer></script>
  <script src="./assets/js/anki-connect.js" defer></script>
  <script src="./assets/js/gui.js" defer></script>
</head>

<body>
  <!-- HEADER -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="btn btn-outline-secondary" href="/">
        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path
              d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
          </svg></span>
      </a>
    </div>
  </nav>
  <div class="row text-center" style="margin: 2em;">
    <div class="col-sm-4" id="inputs">Loading...</div>
    <div class="col-sm-8">
      <div class="card text-center">
        <div class="card-body" id="main-card">
          <!-- <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <h5 class="card-title">How do I use this!?</h5>
          <p class="card-text">Write an expression on the "Expression" input on the left panel and Card先生 will do all the work!</p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>