.color-effect {
    background: linear-gradient(4deg, var(--bs-emphasis-color), var(--bs-secondary-bg));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.color-effect-hero {
    font-size: 4.5em;
    font-weight: 550;
}

.kanji:before {
    content: attr(t);
    display: block;
    font-size: 50%;
    text-align: center;
    line-height: 1.5;
}

.kanji {
    display: inline-block;
    text-indent: 0px;
    line-height: normal;
    -webkit-text-emphasis: none;
    text-emphasis: none;
    text-align: center;
    line-height: 1;
}

.expression {
    gap: 0.8em;
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: center;
}

.play-btn {
    height: 2.2em;
    border-radius: 2em;
    border: 0px;
    width: 2.2em;
}

hr {
    margin: auto;
    width: 60%;
}

ol {
    text-align: center;
    list-style-position: inside;
    margin: 1.3em;
}

.pitch {
    margin: 1.3em;
}

.expression {
    margin: 1.3em;
}